body {
    width: 320px;
    font-size: var(--font-size);
}

.selected {
    color: var(--selected-item-color);
    font-weight: var(--selected-item-font-weight);
}

.empty {
    color: gray;
}

.paging {
    display: flex;
    justify-content: center;
}

.pager {
    margin: auto;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

.arrow {
    color: gray;
    display: inline-flex;
}

.active {
    color: var(--selected-item-color);
}