body {
    width: 320px;
    font-size: var(--font-size);
}

#query::after {
    content: "|";
    font-weight: bold;
    color: var(--selected-item-color);
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    color: var(--selected-item-color);
    font-weight: var(--selected-item-font-weight);
}

.empty {
    color: gray;
}

.paging {
    display: flex;
    justify-content: center;
}

.pager {
    margin: auto;
}

.arrow {
    display: inline-flex;
}

.active {
    color: var(--selected-item-color);
}