@import "../common.css";

.new {
    color: var(--new);
    font-weight: bold;
    margin-right: 4px;
    animation: blink 1s infinite alternate;
}

.new::after {
    content: "new";
    margin-left: 2px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}