table,
th,
td {
    border: 1px dotted gray;
    border-collapse: collapse;
}

th,
td {
    padding: 4px;
}

.action {
    margin-top: 8px;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0px;
    padding: 16px 0;
    background: white;
}

header h1 {
    margin: 0;
}

main {
    flex-grow: 1;
}

footer {
    position: sticky;
    bottom: 0px;
    padding: 8px 0;
    background: white;
    display: flex;
    justify-content: space-between;
}